# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Byte-compiled / optimized / DLL files
__pycache__/

# dependencies
node_modules/

# misc
.env
test.py
env/
.vscode/